.idea
.gitignore
.gitlab-ci.yml
.editorconfig
/angular2-translator/
angular2-translator.*
!angular2-translator.d.ts
/coverage/
karma-test-shim.js
karma.conf.js
node_modules
npm-debug.log
/typings/
/tests/
bundle.js
tsconfig.json
tslint.json
typings.json
