/angular2-translator/*
!/angular2-translator/*.ts
/angular2-translator.*
!/angular2-translator.ts
!/angular2-translator.d.ts

/coverage/
/typings/
/tests/
/.idea/

.gitignore
.editorconfig
karma-test-shim.js
karma.conf.js
node_modules
npm-debug.log
bundle.js
tsconfig.json
tslint.json
typings.json
